div {
  width: 600px;
  margin: 0px auto;
  padding: 20px;
  /* box-sizing: border-box; */
  border: 1px solid orange;
  text-align: justify;
}
img.left {
  width: 200px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;

}
img.right {
  width: 150px;
  float: right;
  margin-left: 15px;
  margin-top: 15px;
}