#block a.zzz {
  color: rgb(128, 41, 199);
}

#block a.zzz:hover {
  text-decoration: none;
  color: green;
  font-size: 30px;
}

/* Селектор выбирает все ссылки (элементы <a>) с классом "zzz",
 которые находятся внутри элемента с id "block" . Кроме того,
 он выбирает ссылки с этим классом,
 которые находятся в состоянии :hover*/