p {
  display: inline;
  /* color: blue;
  border: 2px solid rgb(202, 17, 106);
  border-radius: 20px;
  width: 100px;
  font-size: 30px; */
}

a {
  display: block;
  width: 200px;
  color: blue;
  font-size: 20px;
  border: 2px solid rgb(202, 17, 106);
  border-radius: 20px;
  padding: 3px 3px 3px 7px;
  margin-top: 7px;
  box-sizing: border-box;
  
  
}