/* 1. Напишите селектор, который выберет все элементы с атрибутом title. */
*[title] {color: blue;}

/* 2. Напишите селектор, который выберет все абзацы с атрибутом title. */
p[title]   {color: blue;}

/* 3  Напишите селектор, который выберет все абзацы с атрибутом title, который равен 'привет'*/
p[title="привет"] {color: blue;}

/* 4 Напишите селектор,который выберет все ссылки с атрибутом href, значение которого начинается на 'http://' . */
a[href^="http://"] {color: blue;}

/* 5 Напишите селектор который выберет все ссылки с атрибутом href, значение которого заканчивается на '.html' . */
a[href$=".html"] {color: blue;}

/* 6 Напишите селектор,который выберет все абзацы с атрибутом title,в значении которого есть слово 'привет' . */
 p[title*="привет"] {color: blue;}

 /* 7 Напишите селектор,который выберет все абзацы с классом,который начинается на 'top-' */
 p[class^="top-"] {
    color: blue;
  }

  /* Этот селектор выбирает все элементы <p>, у которых значение атрибута class начинается со строки "top-" . Например, он выберет элементы с классами "top-header", "top-menu", "top-banner" и т.д. */
