#parent {
  margin: 20px auto;
  position: relative;
  width: 300px;
  height: 200px;
  margin: 50px auto;
  border: 1px solid red;
}

#child {
  position: absolute;
  top: 0;
  left: -30px;

  width: 20px;
  height: 20px;
  border: 1px solid green;
}
#child2 {
  position: absolute;
  top: 0;
  right: -30px;

  width: 20px;
  height: 20px;
  border: 1px solid green;
}