#elem1 {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(0, 60, 255);
  border-radius: 10px 30px 50px 90px;
}

#elem2 {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(0, 60, 255);
  border-radius: 10px 50px;
}
#elem3 {
  width: 300px;
  height: 200px;
  border: 2px solid rgb(17, 168, 39);
  border-radius: 10px 20px 30px;
}

#elem57 {
  width: 300px;
  height: 300px;
  border: 2px solid rgb(120, 17, 168);
  border-radius: 50%;
}