#elem1 {
  position: absolute;
  top: 50px;
  left: 50px;

  width: 100px;
  height: 100px;
  background: #ff8888;
  z-index: 3;
}

#elem2 {
  position: absolute;
  top: 100px;
  left: 100px;

  width: 100px;
  height: 100px;
  background: #673ca8;
  z-index: 2;
}

#elem3 {
  position: absolute;
  top: 150px;
  left: 150px;

  width: 100px;
  height: 100px;
  background: #3c7188;
  z-index: 1;
}