








/* 7 */
h2 .zzz {
  color: rgb(8, 57, 37);
}


/* 8 */
.bb4.zz4 {
  color: rgb(84, 30, 78);
}



/* 9 */
.asb .fz {
  color: red;
}





/* 10 */
.zxc.zx.c {
  color: rgb(60, 120, 199);
}



/* 11 */
.b1 .z1.xmn {
  color: rgb(119, 255, 0);
}




/* 12 */
.bbb.zzz .xxx {
  color: rgb(191, 104, 104);
}




/* 13 */
.ttt .yyy .uuu {
  color: rgb(202, 154, 226);
}





/* 14 */
#elem.bbb {
  color: rgb(22, 77, 103);
}


/* 15 */
#elem .bhj {
  color: rgb(210, 190, 11);
}