p:first-of-type {
  color: rgb(98, 0, 255);
}
/* Псевдокласс first-of-type выбирает элемент,который является первым потомком родителя заданного типа. То есть,
если написать h2:first-of-type - найдется первый h2 в родителе (в отличии от first-child, который найдет только тот h2, который стоит самым первым в родителе). */

h2:last-of-type{
  color: blue;
}
