#menu {
  display: flex;
}

/* Напишем стили наших ссылок */
#menu a {
  margin-right: 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  font: 15px Raleway;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #d2157d;
  background-color: #d2157d;
}

/* Напишем стили наших ссылок */
#menu a:hover, a.active {
  color: rgb(182, 22, 112);
  background-color: #ffffff;
}

/*  */