#parent1 {
  width: 400px;
  border: 2px dotted rgb(25, 0, 255);
}

#child1 {
  height: 300px;
  border: 2px dotted rgb(56, 146, 42);
  margin: 20px;
}

#child2 {
  height: 250px;
  border: 1px solid rgb(246, 44, 242);
  margin: 20px;
}