/* 
Выравнивание по этой оси задается свойством align-items:
flex-start - прижимает элементы к началу оси flex-end - к концу
*/

/* 1 */
.parent {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid red;
}

.child {
  width: 120px;
  height: 60px;
  border: 1px solid green;
}

/* 2 */
.parent2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid red;
}

.child2 {
  width: 120px;
  height: 60px;
  border: 1px solid green;
}

/* 3 */
.parent3 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid red;
}

.child3 {
  width: 120px;
  height: 60px;
  border: 1px solid green;
}

/* 4 */
.parent4 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid red;
}

.child4 {
  width: 120px;
  height: 60px;
  border: 1px solid green;
}

/* 5 */
.parent5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid red;
}

.child5 {
  width: 120px;
  height: 60px;
  border: 1px solid green;
}

/* 6 */
.parent6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid red;
}

.child6 {
  width: 120px;
  height: 60px;
  border: 1px solid green;
}

/* 7 */
.parent7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid red;
}

.child7 {
  width: 120px;
  height: 60px;
  border: 1px solid green;
}